@import '../../app-styles.scss';

.drinks-page {
  //border: 1px solid white;
  width: 100%;

  text-align: center;
  font-family: $monserrat;
  color: $light-text;
}

.drinks-page-title {
  margin: 20px;

  font-size: 55px;
  font-weight: $weight-bold;
}

.drinks-page-blurb {
  margin: 20px;

  font-size: 20px;
  font-weight: $weight-regular;
}
