@import '../../app-styles.scss';

.menu-item {
  height: 40vh;
  width: 15vw;
  padding: 10px 0px;

  box-shadow: 10px 10px 20px -8px black;
  background-color: $dark-background;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  color: $light-text;
  font-family: $monserrat;

  .img-container {
    height: 120px;
    width: 120px;
    overflow: hidden;

    background-size: contain;
    background-repeat: no-repeat;
  }
  .name {
    font-size: 20px;
    font-weight: $weight-regular;
  }

  .dietary-info {
    width: 50%;

    font-size: 15px;
    font-weight: $weight-regular;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .vegetarian {
      width: 40px;
      height: 40px;
      padding: 7%;

      border: 3px solid $light-text;
      border-radius: 100%;
    }

    .vegan {
      width: 40px;
      height: 40px;
      padding: 6%;

      border: 3px solid $light-text;
      border-radius: 100%;
    }
  }

  .price {
    font-size: 20px;
    font-weight: $weight-regular;
  }
  .mic-button {
    padding: 5px 10px;

    background-color: $light-background;
    color: $light-text;
    border: 3px solid $light-text;
    border-radius: 10px;
    outline: none;

    &:hover {
      background-color: $dark-background;
    }

    &:active {
      border: 3px solid $light-background;
    }
  }
}

//background images for menu items

.fries {
  background-image: url('../../../dist/assets/potato.jpg');
}

.sweet-potato {
  background-image: url('../../../dist/assets/sweetpotato.jpg');
}

.house-slaw {
  background-image: url('../../../dist/assets/cabbage2.jpg');
}

.kimchi-fries {
  background-image: url('../../../dist/assets/frieswithtopping.jpg');
}

.pepsi-drink {
  background-image: url('../../../dist/assets/pepsi.jpg');
}

.lemonade {
  background-image: url('../../../dist/assets/lemonade.jpg');
}

.elderflower-fizz {
  background-image: url('../../../dist/assets/elderflower.jpg');
}

.beer {
  background-image: url('../../../dist/assets/beer.jpg');
}
