@import '../app-styles.scss';

.op-breadcrumbs {
  font-family: $roboto;
  font-size: 15px;
  font-weight: $weight-regular;
  border-bottom: 3px solid $light-background;
  margin-bottom: 30px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cart-summary-container {
  width: 100%;
  height: auto;
  padding-bottom: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: $monserrat;
  color: $dark-text;

  .cart-summary {
    width: 45%;
    height: auto;
    padding: 30px;
    margin: 20px;

    border: 1px solid $light-background;
    border-radius: 10px;
  }
  .cart-summary-payment {
    width: 45%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;

    .cs-price {
      width: 100%;
      height: auto;
      padding: 20px 0px;

      font-weight: $weight-bold;

      font-size: 25px;
    }

    .cs-VAT {
      width: 100%;
      height: auto;
      padding: 20px 0px;

      font-size: 20px;
    }
  }
}

.op-burger-ing {
  width: 80%;
  padding-left: 35px;

  font-size: 12px;
  font-weight: $weight-regular;
  text-align: left;
  flex-shrink: 0;
}
