@import '../app-styles.scss';

.delivery-details {
  width: 100%;
  height: auto;
  padding-bottom: 30px;

  font-family: $monserrat;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      width: 50%;
      margin: 10px 0px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    input {
      width: 70%;
    }
  }
}
