@import '../app-styles.scss';

.order-placed {
  width: 100%;
  height: auto;
  padding-bottom: 30px;

  .op-breadcrumbs {
    font-family: $roboto;
    font-size: 15px;
    font-weight: $weight-regular;
    border-bottom: 3px solid $light-background;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    button {
      padding: 0px 10px;
      background-color: white;
      border: none;
    }
  }

  .order-details {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: $monserrat;

    .op-blurb {
      font-size: 35px;
      margin: 10px;
    }

    .op-eta {
      font-size: 25px;
      margin: 20px;
      font-weight: $weight-bold;
    }

    .order-summary {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column-reverse;
      justify-content: space-evenly;
      align-items: center;

      .os-container {
        width: 45%;
        height: auto;
        margin: 20px 0px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .os-title {
          font-size: 25px;
          margin: 20px;
          font-weight: $weight-bold;
        }

        .os-item-container {
          width: 80%;
          height: auto;
          padding: 20px;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .os-total {
          margin: 20px;
          font-size: 30px;
          font-weight: $weight-bold;
        }
      }
      .dd-container {
        width: 45%;
        height: auto;
        margin: 20px 0px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;

        .dd-title {
          margin: 10px 0px;
          font-weight: $weight-bold;
        }

        .dd-info {
          font-size: 15px;
        }
      }
    }

    button {
      padding: 5px;

      color: $light-text;
      font-family: $monserrat;
      font-weight: $weight-regular;
      font-size: 20px;
      background-color: $light-background;
      border: 3px solid $dark-background;
      border-radius: 15px;
    }
  }
}

.os-item {
  width: 100%;
  height: auto;

  font-size: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .os-item-name {
    width: 85%;
    height: auto;
    text-align: left;
  }

  .os-item-price {
    width: 15%;
    height: auto;

    text-align: center;
  }
}

.os-item-ing {
  width: 100%;
  height: auto;
  padding-left: 35px;
}
