@import '../app-styles.scss';

.order-page {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  .order-page-holder {
    width: 80%;
    height: auto;

    //border: 1px solid olive;
  }
}

.order-pg-button {
  padding: 5px;

  color: $light-text;
  font-family: $monserrat;
  font-size: 20px;
  background-color: $light-background;
  border: 3px solid $dark-background;
  border-radius: 10px;

  &:disabled {
    padding: 5px;
    background-color: lightgray;
    border: 3px solid darkgray;
  }
}
