@import '../app-styles.scss';

.payment-window {
  width: 100%;
  height: auto;

  .payment-window-blurb {
    width: 100%;
    height: auto;
    padding: 100px 0px;

    font-family: $monserrat;
    font-size: 35px;
    text-align: center;
  }
}
