* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.body {
  height: 90vh;
  width: 100vw;

  border: 1px solid green;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-page-holder {
  min-height: 70vh;
  width: 100%;
}
