@import './app-styles.scss';

.burger-cart {
  width: 30%;
  height: 500px;

  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  left: 1000px;

  border: 3px solid $light-text;
  border-radius: 15px;
  background-color: $light-background;
  color: $light-text;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;

  .bg-header {
    width: 90%;
    height: 10%;
    padding: 0px 20px;
    margin: auto;
    border-bottom: 3px solid $light-text;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .bg-items {
    width: 100%;
    height: 80%;

    overflow-y: auto;
    overflow-x: hidden;
  }

  .bg-footer {
    width: 90%;
    height: 10%;
    padding: 0px 20px;
    margin: auto;
    border-top: 3px solid $light-text;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.bg-button {
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  background-color: $dark-background;
  padding: 5px;
  outline: none;
  font-weight: $weight-regular;
  font-size: 15px;

  &:hover {
    border: 3px solid $dark-background;
    color: $dark-text;
    background-color: $light-text;
    cursor: pointer;
  }

  &:active {
    background-color: $light-background;
    color: $light-text;
  }
}
