@import './app-styles.scss';

.cart-item {
  height: 15%;
  width: 100%;
  padding: 5px 10px;

  border: 1px solid green;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  .name {
    font-size: 15px;
  }

  .button {
    padding: 3px 5px;
    background-color: $dark-background;
    border: 3px solid $light-background;
    border-radius: 15px;
    color: white;
    font-weight: bold;
  }
}
