@import './app-styles.scss';

.cart-item {
  height: auto;
  width: 100%;

  //border: 1px solid green;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  .item-info {
    width: 100%;
    height: 100%;
    padding: 5px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    .name {
      width: 75%;
      font-size: 15px;

      text-align: left;
      padding: 0px 10px;
    }

    .ci-price {
      font-size: 20px;
    }

    .ci-button {
      padding: 3px 5px;
      background-color: $dark-background;
      border: 3px solid $light-background;
      border-radius: 50%;
      color: white;
      font-weight: bold;
      outline: none;

      &:hover {
        color: $dark-background;
        background-color: $light-text;
      }

      &:active {
        border: 3px solid $light-background;
        color: $light-text;
        background-color: $light-background;
      }
    }
  }
}
